<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczQydCs.dao.FaHuoDanWeiMapper">
	<insert id="add" parameterType="com.znczQydCs.entity.FaHuoDanWei">
		insert into fa_huo_dan_wei
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				mc,
			</if>
				bjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				#{mc},
			</if>
				now()
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from fa_huo_dan_wei where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.znczQydCs.entity.FaHuoDanWei">
		update fa_huo_dan_wei set 
		<trim suffixOverrides=",">
			<if test="mc!=null">
				mc=#{mc},
			</if>
				bjsj=now()
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from fa_huo_dan_wei where 1=1
		<if test="mc!=''&amp;mc!=null">
			and mc like CONCAT('%',#{mc},'%')
		</if> 
	</select>
	<select id="queryList" resultType="com.znczQydCs.entity.FaHuoDanWei">
		select * from fa_huo_dan_wei where 1=1
		<if test="mc!=''&amp;mc!=null">
			and mc like CONCAT('%',#{mc},'%')
		</if> 
	</select>
	<select id="selectById" resultType="com.znczQydCs.entity.FaHuoDanWei">
		select * from fa_huo_dan_wei where id=#{0}
	</select>
	<select id="queryCBBList" resultType="com.znczQydCs.entity.FaHuoDanWei">
		select id,mc from fa_huo_dan_wei
	</select>
	<select id="getWtbToYfCount" resultType="java.lang.Integer">
		select count(*) from fa_huo_dan_wei where yfwtb=${@com.znczQydCs.entity.Main@WEI_TONG_BU}
	</select>
	<select id="selectListByYfwtb" resultType="com.znczQydCs.entity.FaHuoDanWei">
		select * from fa_huo_dan_wei where yfwtb=#{yfwtb}
	</select>
	<update id="updateTbZtByYfwtb">
		update fa_huo_dan_wei set yfwtb=#{xtbzt} where yfwtb=#{yfwtb}
	</update>
</mapper>