<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczQydCs.dao.GuoBangJiLuMapper">
	<insert id="add" parameterType="com.znczQydCs.entity.GuoBangJiLu">
		insert into guo_bang_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl,
			</if>
			<if test="gbzt!=null">
				gbzt,
			</if>
				gbsj,
			<if test="gblx!=null">
				gblx,
			</if>
			<if test="qyDdId!=null">
				qyDdId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				#{gbzl},
			</if>
			<if test="gbzt!=null">
				#{gbzt},
			</if>
				now(),
			<if test="gblx!=null">
				#{gblx},
			</if>
			<if test="qyDdId!=null">
				#{qyDdId},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczQydCs.entity.GuoBangJiLu">
		update guo_bang_ji_lu set 
		<trim suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl=#{gbzl},
			</if>
			<if test="gbzt!=null">
				gbzt=#{gbzt},
			</if>
			<if test="gblx!=null">
				gblx=#{gblx},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.qyDdId=dd.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and dd.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
	</select>
	<select id="queryList" resultType="com.znczQydCs.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh,dd.cph from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.qyDdId=dd.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and dd.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
		order by gbjl.gbsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczQydCs.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.qyDdId=dd.id and gbjl.id=#{id}
	</select>
	<select id="queryDJYForInt" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu gbjl left join ding_dan dd on gbjl.qyDdId=dd.id left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id
		 left join yun_shu_shang yss on dd.yssId=yss.id left join fa_huo_dan_wei fhdw on dd.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on dd.shbmId=shbm.id where ddzt.mc=#{ddztMc}
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="sjxm!=''&amp;sjxm!=null">
			and dd.sjxm like CONCAT('%',#{sjxm},'%')
		</if>
		<if test="sjsfzh!=''&amp;sjsfzh!=null">
			and dd.sjsfzh like CONCAT('%',#{sjsfzh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and dd.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="yssMc!=''&amp;yssMc!=null">
			and yss.mc like CONCAT('%',#{yssMc},'%')
		</if>
		<if test="fhdwMc!=''&amp;fhdwMc!=null">
			and fhdw.mc like CONCAT('%',#{fhdwMc},'%')
		</if>
		<if test="shbmMc!=''&amp;shbmMc!=null">
			and shbm.mc like CONCAT('%',#{shbmMc},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
		<if test="gblx!=''&amp;gblx!=null">
			and gbjl.gblx=#{gblx}
		</if>
	</select>
	<select id="queryDJYList" resultType="com.znczQydCs.entity.GuoBangJiLu">
		select gbjl.*,dd.sjxm,dd.sjsfzh,dd.ddh,dd.cph,dd.lxlx,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from guo_bang_ji_lu gbjl left join ding_dan dd on gbjl.qyDdId=dd.id
		 left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id left join yun_shu_shang yss on dd.yssId=yss.id left join fa_huo_dan_wei fhdw on dd.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on dd.shbmId=shbm.id where ddzt.mc=#{ddztMc}
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="sjxm!=''&amp;sjxm!=null">
			and dd.sjxm like CONCAT('%',#{sjxm},'%')
		</if>
		<if test="sjsfzh!=''&amp;sjsfzh!=null">
			and dd.sjsfzh like CONCAT('%',#{sjsfzh},'%')
		</if>
		<if test="cph!=''&amp;cph!=null">
			and dd.cph like CONCAT('%',#{cph},'%')
		</if>
		<if test="yssMc!=''&amp;yssMc!=null">
			and yss.mc like CONCAT('%',#{yssMc},'%')
		</if>
		<if test="fhdwMc!=''&amp;fhdwMc!=null">
			and fhdw.mc like CONCAT('%',#{fhdwMc},'%')
		</if>
		<if test="shbmMc!=''&amp;shbmMc!=null">
			and shbm.mc like CONCAT('%',#{shbmMc},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
		<if test="gblx!=''&amp;gblx!=null">
			and gbjl.gblx=#{gblx}
		</if>
		order by gbjl.gbsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectPrintInfo" resultType="com.znczQydCs.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh,dd.cph,dd.sjxm,dd.sjsfzh from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.qyDdId=dd.id and gbjl.gblx=#{gblx} and dd.id=#{ddId}
	</select>
	<delete id="deleteByDdId">
		delete from guo_bang_ji_lu where gblx=#{gblx} and ddId=#{ddId}
	</delete>
	<select id="getCountByDdId" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu where gblx=#{gblx} and ddId=#{ddId}
	</select>
	<select id="getWtbToYfCount" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu where yfwtb=${@com.znczQydCs.entity.Main@WEI_TONG_BU}
	</select>
	<select id="selectListByYfwtb" resultType="com.znczQydCs.entity.GuoBangJiLu">
		select * from guo_bang_ji_lu where yfwtb=#{yfwtb}
	</select>
	<update id="updateTbZtByYfwtb">
		update guo_bang_ji_lu set yfwtb=#{xtbzt} where yfwtb=#{yfwtb}
	</update>
</mapper>