<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczQydCs.dao.MainMapper">
	<select id="getQyColValByYfwColVal" resultType="java.lang.Object">
		select ${qyColName} from ${tabName} where ${yfwColName}=${yfwColVal}
	</select>
	<update id="updateYfwtbByIdList">
		update ${tabName} set yfwtb=#{yfwtb} where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</update>
</mapper>