<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczQydCs.dao.ZhiJianJiLuMapper">
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from zhi_jian_ji_lu zjjl,yong_hu zjy,ding_dan dd,ding_dan_zhuang_tai ddzt where zjjl.zjyId=zjy.id and zjjl.ddId=dd.id and dd.ddztId=ddzt.id
		<if test="jg!=''&amp;jg!=null">
			and zjjl.jg=#{jg}
		</if>
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if> 
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId=#{ddztId}
		</if> 
		<if test="zjyZsxm!=''&amp;zjyZsxm!=null">
			and zjy.zsxm like CONCAT('%',#{zjyZsxm},'%')
		</if> 
	</select>
	<select id="queryList" resultType="com.znczQydCs.entity.ZhiJianJiLu">
		select zjjl.id,zjjl.jg,zjjl.zjsj,dd.ddh,zjy.zsxm zjyZsxm,ddzt.mc ddztMc from zhi_jian_ji_lu zjjl,yong_hu zjy,ding_dan dd,ding_dan_zhuang_tai ddzt where zjjl.zjyId=zjy.id and zjjl.ddId=dd.id and dd.ddztId=ddzt.id
		<if test="jg!=''&amp;jg!=null">
			and zjjl.jg=#{jg}
		</if> 
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if> 
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId=#{ddztId}
		</if> 
		<if test="zjyZsxm!=''&amp;zjyZsxm!=null">
			and zjy.zsxm like CONCAT('%',#{zjyZsxm},'%')
		</if> 
	</select>
	<insert id="add" parameterType="com.znczQydCs.entity.ZhiJianJiLu">
		insert into zhi_jian_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="yfwjlId!=null">
				yfwjlId,
			</if>
			<if test="ddId!=null">
				ddId,
			</if>
			<if test="zjyId!=null">
				zjyId,
			</if>
				zjsj,
			<if test="jg!=null">
				jg,
			</if>
			<if test="bz!=null">
				bz,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="yfwjlId!=null">
				#{yfwjlId},
			</if>
			<if test="ddId!=null">
				#{ddId},
			</if>
			<if test="zjyId!=null">
				#{zjyId},
			</if>
				now(),
			<if test="jg!=null">
				#{jg},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
		</trim>
	</insert>
	<select id="selectById" resultType="com.znczQydCs.entity.ZhiJianJiLu">
		select zjjl.*,dd.ddh,ddzt.mc ddztMc,zjy.zsxm zjyZsxm from zhi_jian_ji_lu zjjl,yong_hu zjy,ding_dan dd,ding_dan_zhuang_tai ddzt where zjjl.zjyId=zjy.id and zjjl.ddId=dd.id and dd.ddztId=ddzt.id and zjjl.id=#{0}
	</select>
</mapper>